
:root{
    --primary-color:#0085ff;
    --accent-color: #006fff;
    --background-color:#1E1E1E;
    --text-color:#FFFFFF;
    --body-font: 'Roboto', sans-serif;
    --bg-200:#2d2d2d;
    --bg-300:#454545;
    --primary-200:#69b4ff;
    --primary-300:#e0ffff;
    --accent-200:#e1ffff;
    --text-200:#9e9e9e;
}


.main-container{
    max-width: 800px;
    margin-left: 250px;
    position: relative;
    /*margin: auto;*/
    color:var(--text-color);
}


.active-classes{
    position: absolute;
    width: 100%;
    height: 100%;
}
.class-head{
    margin-left: 20px;
}
.actv-cls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color:var(--bg-300);
    border-radius: 100px;
    height: 40px;
}
.course{
    font-size: 18px;
    padding-left: 10px;
}


.btn-click a{
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    border-radius: 0px 50px 50px 50px;
    padding: 13px 27px 11px 22px;
    font-size: 12px;
}
.btn-click a:hover{
    color:white;
}
.btn-click a:hover{
    color:white;
    background-color:var(--bg-200);
}


.previous-classes{
    position: absolute;
    width: 100%;
    height: 300px;
    margin-top: 2rem;
}

.links{
    text-decoration: none;
    color: white;

}

@media(min-width:700px){
    .company-name, .sidebar-hr{
        display: block;
    }

    .company-name-main{
        display: none;
    }
}
