@import url('rootcss.css');

:root{
    --body-font: 'Roboto', sans-serif;
}
*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /*color: var(--background-color);*/
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}

.img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}
.center .title{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}
.center .sub_title{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}
.center .btns{
    margin-top: 20px;
}
.center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}
.center .btns button:first-child{
    color: #fff;
    background: none;
}
.btns button:first-child:hover{
    background: white;
    color: black;
}
.center .btns button:last-child{
    background: white;
    color: black;
}
.login-btn .register-btn{
    text-decoration: none;
}

/*Add courses page style*/
.btn{
    color: var(--text-color) !important;
}
.btn-add{
    border-radius: 0 100px 100px 100px!important;
}
.hr{
    color: var(--accent-color);
}

.form-control{
    border-radius: 40px!important;
    border: 2px solid var(--primary-color)!important;
    height: 40px;
    max-width: 600px;
}
form{
    color: var(--text-color);
}

/*analytics page styling*/
.tags-section{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;

}
.tag{
    border-left: 5px solid var(--accent-200);
    height: 100px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.big-graphs{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap: 10px;
}

.graph{
    height: 300px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.title{
    color: var(--text-color);
    font-size: 18px;
}
.bar-chart{
    margin-top: 15px;
    height: 300px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

/*classes page styling*/
.lesson{
    height: 35px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-200);
}

.lesson-link{
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--primary-color);
    border-radius: 0 50px 50px 50px;
    padding: 10px 27px 7px 24px;
    font-size: 12px;
}
.lesson-link:hover{
    color: white;
}
.lesson-border{
    border: 1px solid var(--bg-300);
}

h4{
    margin-left: 5px;
}

.p-4{
    padding-bottom: 0.5rem!important;
    padding-top: 0.5rem!important;

}
.lesson-section{
    margin-top: 0;
    max-width: 800px;
}
.border-buttom{
    border: 1px solid var(--primary-color);
    margin-top: 3rem;
}
.lesson-name h4{
    font-size: 12px;
    padding-left: 5px;
    padding-top: 5px;
    color: var(--text-color);
}

/*home page styling*/
.main-container{
    max-width: 1000px;
    margin-left: 250px;
    position: relative;
    color:var(--text-color);
}
.active-classes{
    position: absolute;
    width: 100%;
    height: 100%;
}
.class-head{
    margin-left: 20px;
}
.actv-cls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color:var(--bg-300);
    border-radius: 100px;
    height: 40px;
}
.course{
    font-size: 18px;
    padding-left: 10px;
}


.btn-click a{
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    border-radius: 0 50px 50px 50px;
    padding: 13px 27px 11px 22px;
    font-size: 12px;
}
.btn-click a:hover{
    color:white;
}
.btn-click a:hover{
    color:white;
    background-color:var(--bg-200);
}


.previous-classes{
    position: absolute;
    width: 100%;
    height: 300px;
    margin-top: 2rem;
}

.links{
    text-decoration: none;
    color: white;

}

/*profile component styling*/
.profile{
    display: flex;
    align-items: center;
    height: 70px;
}


.name-section{
    margin-right: 3rem;
}

.hr{
    color: var(--primary-200);
}
.dp{
    width: 30px;
    height: 30px;
}

.dp-image{
    height: inherit;
    width: inherit;
    border-radius: 100px;
    /* border: 2px solid var(--primary-color); */
}

.name{
    margin-left: 10px;
    color: white;
}

.dp-name{
    position: absolute;
    top: 4rem;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}

.dp{
    height: 4rem;
    width: 4rem;
    border-radius:100px;
    margin-left: 20px;

}
.dp-img{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}
.image-border{
    border: 2px solid var(--primary-200);
}
.name{
    margin-left: 1rem;
}
.name-txt{
    font-size: 25px;
}

/*Qr code page stlying*/
.qr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.qr-section{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1rem;
}
.qr-code{
    border-radius: 20px;
    height: 400px;
}


.btn{
    height: 35px;
    background-color: var(--primary-color)!important;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    width: 200px;
}
.btn-student a:hover{
    color: white;
}

.buttons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    top:25rem;
    /* border:2px solid red; */
    width:100%;
}
.btn a{
    text-decoration: none;
    color: white;
    border-radius: 130px 0 100px 6px!important;
}

.btn-deactivate{
    border-radius: 130px 0 100px 6px!important;}

.btn-activate{
    border-radius: 130px 0 100px 6px!important;}

.btn-student{
    border-radius: 130px 0 100px 6px!important;}


/*SideBar component styling*/
.sidebar{
    height: 100%;
    width: 220px;
    position: fixed;
    top: 0;
    left: -200px;
    background-color: var(--bg-300);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
    z-index: 1000;
    font-family: var(--body-font);
}

.side-logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    /* background-color: #f1f1f1; */
}

/* Style the sidebar links */
.sidebar a {
    display: block;
    color: var(--text-color);
    padding-left: 16px;
    text-decoration: none;
}

/* Style the active class (the current page) */
.active {
    /* background-color: #baaaf8; */
    color: var(--text-color);
    /*background-color: var(--primary-200);*/
}

/* Style the content */
.content {
    margin-left: 0;
    height: 1000px;
    transition: 0.5s;
}

/* Style the toggle button */
.toggle-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Show sidebar when active class is added */
.sidebar.active {
    left: 0;
}

/* Shift content when active class is added */
.content.active {
    margin-left: 200px;
}

/* Style the close button */
.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    color: rgb(19, 17, 17);
    cursor: pointer;
}

.company-name{
    color: var(--text-color);
    font-size: 18px;
    /*border: 2px solid red;*/
}
.company-name h4{
    font-family: var(--body-font);
    margin-left:15px;
    margin-top: 5px;
}
.menu a{
    height: 30px;
}
.menu a:not(:last-child){
    margin-bottom: 5px;
}
.menu-items{
    font-size: 20px;
    height: 30px;
    width: 90%;
    border-radius: 7px;
    margin: 12px;
}
.menu-items:hover{
    background-color: var(--bg-200);
}

.icon{
    height: 18px;
    margin-right: 5px;
}

/*personal info page styling*/
.personal-info{
    padding: 5px;
    border-radius: 10px;
    margin-top: 0;
}
.records{
    display: flex;
    align-items: center;
    /*border: 2px solid red;*/
}
.user-type{
    margin-top: 5px;
}


/*Table styling*/
.table-div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table-overlap{
    height: 50px;
    width: 700px;
    position: absolute;
    left: 150px;
    top: 7px;
    background-color: var(--bg-200);
    border-radius: 20px;
}
.table-overlap h5{
    text-align: center;
    padding-top:15px ;
}
.table-items{
    background-color: var(--bg-300);
    border-right: 20px;
    width: 100%!important;
    border-radius: 15px;
}
.table{
    color: white;
}

.noroundBorders{
    border-radius: 5px !important;
    outline: var(--bg-200);
}


/*media queries*/
@media (min-width:700px){
    .sidebar {
        height: 100%;
        width: 220px;
        position: fixed;
        top: 0;
        left: 0;
        background-color:var(--bg-300);
        overflow-x: hidden;
        padding-top: 20px;
        transition: 0.5s;
        z-index: 1000;
        /* border:2px solid red; */
    }
    .close-btn {
        display: none;
    }
}

@media (max-width: 768px) {
    .name-txt{
        font-size: 20px;
    }
}

@media (max-width:768px) {
    .name{
        font-size: 20px;
    }
}
@media(min-width:700px){
    .company-name, .sidebar-hr{
        display: block;
    }

    .company-name-main{
        display: none;
    }
}
@media(min-width:700px){
    .company-name, .sidebar-hr{
        display: block;
    }

    .company-name-main{
        display: none;
    }
}
