*{
    border: 0px;
    padding: 0px;
    margin: 0px;
}

:root{
    --primary-color:#a692f7;
    --secondary-color: #e9ebf8;
    --background-color:#dbd9e0;
}


.main-container{
    height: 600px;
    margin: auto;
    position: relative;
    margin-top: 1rem;
    /* border:2px solid red; */
    
}
.qr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.qr-section{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1rem;
}
.qr-code{
    border-radius: 20px;
    height: 400px;
}


.btn{
    height: 35px;
    background-color: var(--primary-color)!important;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    width: 200px;
}
.btn-student a:hover{
    color: white;
}

.buttons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    top:25rem;
    /* border:2px solid red; */
    width:100%;
}
.btn a{
    text-decoration: none;
    color: white;
    border-radius: 130px 0px 100px 6px!important;
}

.btn-deactivate{
    border-radius: 130px 0px 100px 6px!important;}

.btn-activate{
    border-radius: 130px 0px 100px 6px!important;}

.btn-student{
    border-radius: 130px 0px 100px 6px!important;}