	/* Style the sidebar */
    :root{
        --primary-color:#0085ff;
        --accent-color: #006fff;
        --background-color:#1E1E1E;
        --text-color:#FFFFFF;
        --body-font: 'Roboto', sans-serif;
        --bg-200:#2d2d2d;
        --bg-300:#454545;
        --primary-200:#69b4ff;
        --primary-300:#e0ffff;
        --accent-200:#e1ffff;
        --text-200:#9e9e9e;
    }

    .sidebar {
        height: 100%;
        width: 220px;
        position: fixed;
        top: 0;
        left: -200px;
        background-color: var(--bg-300);
        overflow-x: hidden;
        padding-top: 20px;
        transition: 0.5s;
        z-index: 1000;
        font-family: var(--body-font);
        /* border:2px solid red; */
    }

    .side-logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    /* background-color: #f1f1f1; */
    }

    /* Style the sidebar links */
    .sidebar a {
        display: block;
        color: var(--text-color);
        padding-left: 16px;
        text-decoration: none;
    }

    /* Style the active class (the current page) */
    .active {
        /* background-color: #baaaf8; */
        color: var(--text-color);
        background-color: var(--primary-200);
    }

    /* Style the content */
    .content {
        margin-left: 0;
        height: 1000px;
        transition: 0.5s;
    }

    /* Style the toggle button */
    .toggle-btn {
        position: fixed;
        top: 10px;
        left: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    /* Show sidebar when active class is added */
    .sidebar.active {
        left: 0px;
    }

    /* Shift content when active class is added */
    .content.active {
        margin-left: 200px;
    }

    /* Style the close button */
    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
        color: rgb(19, 17, 17);
        cursor: pointer;
    }

    .company-name{
        color: var(--text-color);
        font-size: 18px;
        /*border: 2px solid red;*/
    }
    .company-name h4{
        font-family: var(--body-font);
        margin-left:15px;
        margin-top: 5px;
    }
    .menu a{
        height: 30px;
    }
    .menu a:not(:last-child){
        margin-bottom: 5px;
    }
    .menu-items{
        font-size: 20px;
        height: 30px;
        width: 90%;
        border-radius: 7px;
        margin: 12px;
    }
    .menu-items:hover{
        background-color: var(--bg-200);
        /* background-color: white; */
        /* color: black; */
    }

    .icon{
        height: 18px;
        margin-right: 5px;
    }

    /* .outline{
        border: 2px solid red;
        width: 500px;
    } */



@media (min-width:700px){
    .sidebar {
        height: 100%;
        width: 220px;
        position: fixed;
        top: 0;
        left: 0px;
        background-color:var(--bg-300);
        overflow-x: hidden;
        padding-top: 20px;
        transition: 0.5s;
        z-index: 1000;
        /* border:2px solid red; */
    }
    .close-btn {
        display: none;
    }
}
